body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
      background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
    .url-enc:hover {
      font-weight: bold;
    }
    .text {
      background-color: #FFFFFF;
      border: none;
      color: rgb(82, 81, 77);
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 40px 2px;
      border-radius: 12px;
      outline: none;
      width: 100%;
      transition: 0.3s;
    }
    .text:hover {
      font-size: 20px;
    }
    .button1 {
      background-color: #ddd;
      border: none;
      color: rgb(82, 78, 78);
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
      margin-right: 10%;
      transition: 0.3s;
    }
    .button1:hover {
      background-color: #923434;
      color: white;
      font-size: 20px;
    }
    .button2 {
      background-color: #ddd;
      border: none;
      color: rgb(82, 78, 78);
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
      margin-left: 10%;
      transition: 0.3s;
    }
    .button2:hover {
      background-color: #3e8e41;
      color: white;
      font-size: 20px;
    }